html::-webkit-scrollbar {
    width: 0px;
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0px;
    width: 1600px;
    height: 3397px;
    margin: 0px auto;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    body {
        width: 1000px;
        height: 2788px;
    }
}

.mainSection {
    width: 1600px;
    height: 780px;
    left: 0px;
    top: 0px;
    background: #FDD2D2;
    margin: 0px auto;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .mainSection {
        width: 1000px;
        height: 500px;
    }
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
    height: 80px;
    background-color: #EFC1C1;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    header {
        width: 1000px;
        height: 80px;
    }
}

#logo {
    width: 256px;
    height: 80px;
    left: 58px;
    top: 0px;
    margin: 0px auto;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    #logo {
        width: 200px;
        height: 62.5px;
    }
}

header>.menu {
    position: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 45px;
    width: 595px;
    left: 562px;
    height: 22px;
    margin: 0px auto;
}

p {
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 22px;
    color: black;
}

a {
    text-decoration: none;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 22px;
    color: black;
}

.menu>a {
    margin: 0px;
}

.menu>a:hover {
    color: #884343;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    header>.menu {
        width: 409px;
        height: 19px;
        gap: 10px;
    }

    p {
        font-size: 16px;
        height: 19px;
    }

    a {
        font-size: 16px;
        height: 19px;
    }
}

#dateTime {
    width: 140px;
    height: 22px;
    margin: 0px auto;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    #dateTime {
        width: 122px;
        height: 19px;
    }
}

.mainSlider {
    position: inherit;
    width: 1600px;
    height: 700px;
    margin: 0px auto;
}

#mainHand {
    position: relative;
    width: 1097.75px;
    height: 680px;
    margin: 0px auto;
}

#tagLine {
    position: relative;
    width: 484px;
    height: 292px;
    left: -104px;
    bottom: 300px;
    margin: 0px auto;
}

#sendRequest {
    position: relative;
    width: 298px;
    height: 54px;
    left: 1180px;
    bottom: 216px;
    padding: 0px;
    margin: 0px auto;
    background: #884343;
    color: white;
    border-radius: 25px;
    border: 0px;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

#sendRequest:hover {
    background: #633333;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .mainSlider {
        width: 1000px;
        height: 420px;
    }

    #mainHand {
        width: 645px;
        height: 400px;
    }

    #tagLine {
        width: 333px;
        height: 201px;
        left: -36px;
        bottom: 146px;
    }

    #sendRequest {
        width: 244px;
        height: 46px;
        left: 720px;
        bottom: 90px;
        font-size: 18px;
    }
}

.colorPickSection {
    position: inherit;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 131px;
    width: 1600px;
    height: 600px;
    background-color: white;
    margin: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .colorPickSection {
        width: 1000px;
        height: 400px;
        gap: 40px;
    }
}

.colorPickSection>p {
    position: relative;
    width: 353px;
    height: 48px;
    top: 50px;
    font-size: 40px;
    margin: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .colorPickSection>p {
        width: 230px;
        height: 31px;
        top: 30px;
        font-size: 26px;
    }
}

.colorPickSection>.colorPickFrame {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 36px;
    width: 1124.44px;
    padding-right: 100px;
    height: 340px;
    margin: 0px auto;
}

.colorPickFrame>.palette {
    position: relative;
    display: grid;
    width: 400px;
    height: 340px;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: repeat(10, 34px);
    grid-gap: 0px 0px;
    margin-right: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .colorPickSection>.colorPickFrame {
        width: 924px;
        height: 300px;
        padding-right: 16px;
        gap: 20px;
    }

    .colorPickFrame>.palette {
        width: 300px;
        height: 300px;
        grid-template-columns: repeat(5, 60px);
        grid-template-rows: repeat(10, 30px);
    }
}

.palette>button {
    border: 0px;
}

.palette>button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.palette>button:active {
    filter: blur(4px);
}

.palette>button:focus {
    filter: blur(4px);
}

.colorPickFrame>.nailsBlock {
    position: relative;
    width: 305px;
    height: 340px;
    left: 0px;
    top: 0px;
    margin: 0px auto;
}

.nailsBlock>#nailPhoto {
    position: relative;
    width: 304.44px;
    height: 340px;
    left: 0px;
    top: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .colorPickFrame>.nailsBlock {
        width: 269px;
        height: 300px;
    }

    .nailsBlock>#nailPhoto {
        width: 268.62px;
        height: 300px;
    }
}

.nailsBlock>.nailsColorBlock {
    position: absolute;
    flex-wrap: nowrap;
    width: 257px;
    height: 212px;
    left: 25px;
    top: 10px;
    margin: 0px auto;
}

.nailsColorBlock>#nail1 {
    position: relative;
    width: 58px;
    height: 98px;
    left: 0px;
    top: 63px;
    background-color: #482C2C;
    border-radius: 12px 12px 24px 24px;
}

.nailsColorBlock>#nail2 {
    position: relative;
    width: 70px;
    height: 118px;
    left: 99px;
    bottom: 98px;
    background-color: #482C2C;
    border-radius: 16px 16px 35px 35px;
}

.nailsColorBlock>#nail3 {
    position: relative;
    width: 49px;
    height: 84px;
    left: 208px;
    bottom: 88px;
    background-color: #482C2C;
    border-radius: 12px 12px 25px 25px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .nailsBlock>.nailsColorBlock {
        width: 228px;
        height: 189px;
        left: 21px;
        top: 7px;
    }

    .nailsColorBlock>#nail1 {
        width: 52px;
        height: 86px;
        left: 0px;
        top: 57px;
    }

    .nailsColorBlock>#nail2 {
        width: 62px;
        height: 106px;
        left: 88px;
        bottom: 86px;
    }

    .nailsColorBlock>#nail3 {
        width: 43px;
        height: 74px;
        left: 184px;
        bottom: 77px;
    }
}

.colorPickFrame>#tile {
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 25px;
    background-color: #482C2C;
}

.colorPickFrame>.leftArrow {
    position: relative;
    width: 37.5px;
}

.colorPickFrame>.rightArrow {
    position: relative;
    width: 37.5px;
}

.advices {
    position: inherit;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 140px;
    width: 1600px;
    height: 1000px;
    background: #FDD2D2;
    margin: 0px auto;
}

#sectionTitle {
    position: relative;
    width: auto;
    height: 48px;
    top: 50px;
    font-size: 40px;
    margin: 0px auto;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .advices {
        width: 1000px;
        height: 871px;
        gap: 60px;
    }

    #sectionTitle {
        top: 30px;
        font-size: 26px;
        height: 31px;
    }
}

.adviceButtons {
    position: relative;
    width: 800px;
    height: 750px;
    margin: 0px auto;
}

.adviceButtons>#backgroundCircle {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 150px;
    top: 125px;
    background: #ECECEC;
    border-radius: 250px;

}

.adviceEffects {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 0px;
    top: 0px;
    border-radius: 200px;
    padding: 0px;
    background-color: rgba(255, 250, 250, 0.7);
    vertical-align: middle;
    text-align: center;
}

.adviceEffects>p {
    display: inline-block;
    line-height: 250px;
    font-size: 30px;
    margin: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .adviceEffects>p {
        font-size: 22px;
    }
}

.adviceEffects:hover {
    opacity: 0;
}

.adviceEffects:active {
    opacity: 0;
}

.adviceEffects:focus {
    opacity: 0;
}

#firstAdvice {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 300px;
    top: 0px;
    background-image: url(images/adviceOne.jpg);
    border-radius: 200px;
    border: none;
    padding: 0px;
}

#secondAdvice {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 0px;
    top: 250px;
    background-image: url(images/adviceTwo.jpg);
    border-radius: 200px;
    border: none;
    padding: 0px;
}

#thirdAdvice {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 600px;
    top: 250px;
    background-image: url(images/adviceThree.jpg);
    border-radius: 200px;
    border: none;
    padding: 0px;
}

#fourthAdvice {
    position: absolute;
    width: 200px;
    height: 250px;
    left: 300px;
    top: 500px;
    background-image: url(images/adviceFour.jpg);
    border-radius: 200px;
    border: none;
    padding: 0px;
}

#backgroundCircle>#adviceText {
    position: absolute;
    width: 350px;
    height: 230px;
    left: 75px;
    top: 135px;
    font-size: 20px;
    line-height: 24.2px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin: 0px;
}

.testimonials {
    position: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 113px;
    width: 1600px;
    height: 650px;
    margin: 0px auto;
}

.testimonials>p {
    position: relative;
    width: 244px;
    height: 48px;
    top: 50px;
    font-size: 40px;
    margin: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .testimonials {
        width: 1000px;
        height: 650px;
        gap: 60px;
    }

    .testimonials>p {
        top: 30px;
        width: 159px;
        height: 31px;
        font-size: 26px;
    }
}

.testimonials>.cardsArea {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    white-space: nowrap;
    width: 1380px;
    height: 315px;
    margin: 0px auto;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .testimonials>.cardsArea {
        flex-wrap: wrap;
        width: 600px;
        height: 430px;
        gap: 30px 40px;
    }
}

.card {
    position: relative;
    width: 330px;
    height: 315px;
    border-radius: 80px;
    background-color: rgb(228, 228, 228);
}

.card>img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    left: 44px;
    top: 26px;
}

.card>p {
    position: absolute;
    width: 161px;
    height: 24px;
    left: 101px;
    top: 26px;
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
}

.card>#info {
    position: absolute;
    width: 148px;
    height: 15px;
    left: 101px;
    top: 50px;
    font-size: 12px;
    line-height: 15px;
    color: #949494;

}

.card>#description {
    position: absolute;
    white-space: normal;
    width: 280px;
    height: 200px;
    left: 30px;
    top: 75px;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .card {
        width: 280px;
        height: 200px;
    }

    .card>img {
        width: 34px;
        height: 34px;
        left: 37.33px;
        top: 16.51px;
        border-radius: 17px;
    }

    .card>p {
        width: 136.61px;
        height: 15.24px;
        left: 85.7px;
        top: 16.51px;
        font-size: 16px;
    }

    .card>#info {
        width: 125.58px;
        height: 9.52px;
        left: 85.7px;
        top: 31.75px;
        font-size: 10px;
    }

    .card>#description {
        width: 238px;
        height: 107px;
        left: 21px;
        top: 58px;
        font-size: 12px;
    }
}

#leaveTestimonial {
    position: relative;
    width: 298px;
    height: 54px;
    background: #FDD2D2;
    border-radius: 25px;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    top: -50px;
    border: none;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    #leaveTestimonial {
        width: 244px;
        height: 46px;
        font-size: 18px;
        line-height: 22px;
        top: -30px;
    }
}

#leaveTestimonial:hover {
    background-color: #DB8484;
}

#leaveTestimonial:active {
    background-color: #DB8484;
}

#leaveTestimonial:focus {
    background-color: #DB8484;
}

.footer {
    position: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 1600px;
    height: 367px;
    background: #595959;
    margin: 0px auto;
}

.footer>.firstLayout {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 389px;
    width: 1464px;
    height: 228px;
    top: 30px;
    margin: 0px auto;
}

.firstLayout>.social {
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    width: 181px;
    height: 154px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .footer {
        width: 1000px;
        height: 367px;
        gap: 76px;
    }

    .footer>.firstLayout {
        width: 934px;
        height: 228px;
        top: 30px;
        gap: 179px;
    }
}

.social>#titlePTag {
    position: absolute;
    width: 181px;
    height: 36.3px;
    left: 0px;
    top: 0px;
    font-size: 30px;
    line-height: 36.3px;
    color: #FFFFFF;
    margin: 0px;
}

.social>#socialLinks {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 111px;
    height: 104px;
    left: 0px;
    top: 50px;
}

#link {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 26px;
    gap: 14px;
}

#link>p {
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0px;
}

.contactUS {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 231px;
    height: 196px;
}

#contactUsTitle {
    position: relative;
    width: 157px;
    height: 36px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0px;
}

.contactInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 231px;
    height: 110px;
    color: #FFFFFF;
}

#aTag {
    font-size: 20px;
    height: 20px;
    color: #FFFFFF;
    margin: 0px;
}

.contactInfo>p {
    height: 20px;
    font-size: 20px;
    margin: 0px;
    color: #FFFFFF;
}

.backCall {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 228px;
}

#backCallTitle {
    position: absolute;
    width: 129px;
    height: 36px;
    left: 72px;
    top: 0px;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .backCall {
        width: 181px;
        height: 228px;
    }

    #backCallTitle {
        width: 129px;
        height: 36px;
        left: 26px;
        top: 0px;
    }
}

#form {
    position: absolute;
    width: 274px;
    height: 178px;
    left: 0px;
    top: 50px;
}

.formFrame {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 274px;
    height: 178px;
    left: 0px;
    top: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    #form {
        width: 181px;
    }

    .formFrame {
        width: 181px;
    }
}

#text {
    color: #FFFFFF;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 274px;
    height: 50px;
    background: #444343;
    border-radius: 25px;
    border: none;
    text-align: center;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    #text {
        width: 181px;
        font-size: 12px;
        line-height: 15px;
    }
}

#text::-webkit-input-placeholder {
    color: #FFFFFF;
}

#email {
    color: #FFFFFF;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 274px;
    height: 50px;
    background: #444343;
    border-radius: 25px;
    border: none;
    text-align: center;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    #email {
        width: 181px;
        font-size: 12px;
        line-height: 15px;
    }
}

#email::-webkit-input-placeholder {
    color: #FFFFFF;
}

#submitMail {
    width: 274px;
    height: 50px;
    background: #884343;
    border-radius: 25px;
    font-family: 'Fredoka One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    #submitMail {
        width: 181px;
        font-size: 14px;
        line-height: 17px;
    }
}

#submitMail:hover {
    background: #633333;
}

#submitMail:active {
    background: #633333;
}

#submitMail:focus {
    background: #633333;
}

.logoAndDesign {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1183px;
    width: 1600px;
    height: 80px;
}

.lightLogo {
    position: relative;
    align-items: flex-start;
    justify-content: center;
    width: 256px;
    height: 80px;
}

.designer {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 161px;
    height: 44px;
}

#designed {
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0px;
}

@media screen and (min-width: 1000px) and (max-width: 1599px) {
    .logoAndDesign {
        width: 1000px;
        height: 63px;
        gap: 689px;
    }

    .lightLogo {
        width: 200px;
        height: 62.5px;
    }

    #light {
        width: 200px;
        height: 62.5px;
    }

    .designer {
        width: 161px;
        height: 63px;
        align-items: center;
    }
}